.header {
  @include wrapper;
  justify-content: center;
  align-items: center;
  height: 60px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.header__logo {
  margin: 12 auto 12 20;
}

.header__logo-img {
  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    height: 36px;
  }
}

.header__button-wrapper {
  display: flex;
}

.header__account {
  @include button;
  width: 60px;
  height: 60px;
  background-image: url("/icons/navigation-user.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.header__basket {
  @include button;
  width: 60px;
  height: 60px;
  background-image: url("/icons/navigation-basket.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.header__toggle {
  position: relative;
  width: 60px;
  height: 60px;
  @include button;
}

.header__button-closed .header__toggle__toggle::before {
  content: "";
  position: absolute;
  background-color: #000;
  width: 16px;
  height: 1px;
  position: absolute;
  top: 25px;
  left: 23px;
  box-shadow: 0 5px #000, 0 10px #000;
}

.header__button-closed .header__toggle__toggle:active::before {
  background-color: fade(#000000, 30%);
  box-shadow:
    0 5px 0 0 fade(#000000, 30%),
    0 10px 0 0 fade(#000000, 30%);
}

.header__button-opened .header__toggle__toggle {

  &::before,
  &::after {
    content: "";
    background-color: #000;
    width: 16px;
    height: 1px;
    position: absolute;
    top: 30px;
    left: 22px;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#000000, 30%);
  }
}
